.tooltip {
  position: fixed;
}

.jcrop-keymgr {
  display: none !important;
  opacity: 0 !important;
}

.control-label {
  top: 5px !important;
}

.form-inline .input-group {
  display: flex !important;
}

.image-preview {
  width: 320px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #ccc;
  background-position: center;
}

.btn-crop {
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.profile-user-img {
  width: initial !important;
}

.label-link {
  color: #fff !important;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.report-header .form-group {
  margin-bottom: 0px !important;
}

.table-schedule thead tr th {
  text-align: center;
}

.icheckbox_minimal-blue {
  top: -2px !important;
}

.pointer {
  cursor: pointer;
}

.btn-slider {
  position: absolute;
  top: 26%;
  left: 80.5%;
  transform: translate(-50%, -50%);
  color: white;
  padding: .5em 1em;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-weight: 300;
}

.chart_wrapper {
  position: relative;
}

.chart_wrapper > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.wrapper-inner {
  overflow-x: scroll;
  position: relative;
  width: 100%;
}

.chart-area {
  position: relative;
  height: 420px;
  width: 1800px;
}

.table-appointment {
  margin-top:20px !important;
}

.btn-remove-cover {
  position: relative;
  top: 0px;
  left: 90%;
}

.nowrap {
  white-space: nowrap !important;
}

.display-flex {
  display: flex !important;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .appointment-switch {
      top: 5px !important;
    }
}

@media (max-width: 767px) {
  .skin-blue-light .main-header .navbar .dropdown-menu li a {
    color: #777 !important;
  }
}

.slider .tooltip{
    position: absolute;
}

.pagination .active> a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #2c6ce2;
    border-color: #2c6ce2;
}


.todo-list>li .tools {
    display: none;
    float: right;
    color: #2c6ce2;
}

.chat .item>.offline {
    border: 2px solid #2c6ce2;
}



.skin-red-light .main-header .navbar{
  background-color:#2c6ce2;
}

.skin-red-light .main-header .logo{
  background-color:#2c6ce2;color:#fff;border-bottom:0 solid transparent
}

.skin-red-light .main-header li.user-header{
  background-color:#2c6ce2
}

.skin-red-light .sidebar-menu>li.active{
  border-left-color:#2c6ce2
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #2c6ce2
}

.nav-stacked>li.active>a, .nav-stacked>li.active>a:hover {
    background: transparent;
    color: #444;
    border-top: 0;
    border-left-color: #2c6ce2
}

/*tab kuisioner*/
.nav-stacked>li+li {
  margin-top: 0px;
}

.nav-stacked>li:first-child {
  margin-top: -1px;
}

.question-header, .penilaian-header {
  padding-top:10px;
  padding-bottom:10px;
  border-bottom:1px solid #ddd;
  background: #f3f5f7
}

.question-area, .penilaian-area {
  padding-top:15px;
}

.question .nav-stacked>li.active>a, .nav-stacked>li.active>a:hover {
  border-left-color: none;
}

.question .nav-tabs, 
.penilaian .nav-tabs {
  border-bottom: 0px;
}

.question-label,
.penilaian-label {
  top: 3px;
  font-size: 1.1em;
}

.question .nav-stacked>li.active>a, 
.question .nav-stacked>li.active>a:hover
.penilaian .nav-stacked>li.active>a, 
.penilaian .nav-stacked>li.active>a:hover {
  border-left-color: none;
}

.question .nav-stacked>li,
.penilaian .nav-stacked>li {
  border-top:1px solid #dfe4e8;
  border-bottom:1px solid #dfe4e8;
  border-right:1px solid #dfe4e8;
  /*border:1px solid #dfe4e8;*/
  background: #f3f5f7;
}

.question .nav-stacked>li>a,
.penilaian .nav-stacked>li>a {
  border-left: 0px !important;
}

.question .nav-tabs>li.active>a, 
.question .nav-tabs>li.active>a:focus, 
.question .nav-tabs>li.active>a:hover,
.penilaian .nav-tabs>li.active>a, 
.penilaian .nav-tabs>li.active>a:focus, 
.penilaian .nav-tabs>li.active>a:hover {
  background: #fff;
}

.question .nav-tabs>li>a,
.penilaian .nav-tabs>li>a {
  border:0px !important;
  margin:0px !important;
  padding:8px 15px !important;
}

.question .nav-stacked>li.active,
.penilaian .nav-stacked>li.active {
  border-left:3px solid #d94d32;
  border-right: 0px;
}

.profile-img-area:hover .btn-delete-photo{
  display: block !important;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #49c !important;
    border: 1px solid #47c;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #f5f5f5 !important;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

@media (max-width: 767px){
  .skin-red-light .main-header .navbar .dropdown-menu li a {
    color: #000 !important; 
  }
}

@keyframes successPulse {
    0% {
        box-shadow: inset 0 0 15px rgba(133,228,17,1);
    }

    100% {
        box-shadow: inset 0 0 15px rgba(133,228,17,0);
    }
}

.success-pulse {
    animation-name: successPulse;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes errorPulse {
    0% {
        box-shadow: inset 0 0 15px rgba(247,7,7,1);
    }

    100% {
        box-shadow: inset 0 0 15px rgba(247,7,7,0);
    }
}

.error-pulse {
    animation-name: errorPulse;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.drop-zone .form-control-file {
    position: relative;
    width: 14em;
    height: 17em;
    /* min-height; */
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
}

.drop-zone .form-control-file:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 14em;
    min-height: 17em;
    line-height: 2em;
    padding-top: 2.3em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border: 4px dashed #d2d6de;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    color: #444444;
}

.drop-zone .form-control-file:hover:before {
  border-style: solid;
}

/* .drop-zone .main-icon {
    font-size: 2.5em;
    position: absolute;
    left: %;
    color: #d2d6df;
    bottom: 20%;
} */

@media (max-width: 767px){
  .drop-zone .main-icon {
    font-size: 5em;
    position: absolute;
    left: 33%;
    color: #d2d6df;
    bottom: 20%;
  }
}

@media (min-width: 767px){
  .drop-zone .main-icon {
    font-size: 5em;
    position: absolute;
    left: 30%;
    color: #d2d6df;
    bottom: 20%;
  }
}

.my-swal{
  width:450px !important;
	font-size: 14px !important;
}

.success-pulse {
    animation-name: successPulse;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes errorPulse {
    0% {
        box-shadow: inset 0 0 15px rgba(247,7,7,1);
    }

    100% {
        box-shadow: inset 0 0 15px rgba(247,7,7,0);
    }
}

.error-pulse {
    animation-name: errorPulse;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}